################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warrior Fight Assets
/Warrior Fight/.vs/Warrior Fight/v16
