################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warrior Fight Assets
/Warrior Fight/.vs/Warrior Fight/v16
/MonoBleedingEdge
/Warrior Fight_Data
/UnityCrashHandler64.exe
/UnityPlayer.dll
/Warrior Fight.exe